.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 50px 0 156px 0;
}
.logo-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width : 100%;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 10;
    padding-top: 2px;
    padding-left: 2px;
}
.logo-nav {
    /* position: fixed;
    top: -51px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    /* border-bottom: 1px solid rgb(228, 173, 199); */
}
#logo {
    margin-right: 2rem;
    height: 45px;
    width: 110px;
}
#logo img {
    /* margin: auto; */
    height: 100%;
    width: 100%;
}
.logo-container .logo-list {
    width: 100%;
    max-width: 230px;
    height: 100%;
    max-height: 45px;
    display: flex;
    align-items: center;
}
.main-nav-list a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid #c786a4;
    border-radius: 0.2rem;
}
.search-bar .search {
    font-size: 1.2rem;
    width: 500px;
    outline: none;
    height: 24px;
    padding-left: 4px;
    background-color: transparent;
}
.search-bar button {
    width: 40px;
    height: 28px;
    background-color: #c786a4;
}
.login-btn {
    cursor: pointer;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
}
.login-btn p {
    font-size: 1.2rem;
    font-weight: bold;
}

.list-container {
    width: 100vw;
    background-color: whitesmoke;
}
.list {
    width: 100vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px 40px 30px 40px;
    background-color: white;
    /* box-shadow: 1px 1px 3px 1px #888 ; */
    border: 1px solid #e9ecef;
    border-radius: 30px;
}
.menu-container {
    width: 100vw;
    max-width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.list-order {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
}
.list-order a {
    width : 40px;
    height: 30px;
    margin-left: 5px;
    padding: 2px 8px 2px 8px;
    border-radius: 3px;
    cursor: pointer;
}
#post-card-box {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.posting-btn {
    width: 180px;
    font-size: 1.2rem;
    color: rgb(29 29 31 / 80%);
    background-color: #c786a4;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}

.card {
    width : 200px;
    margin-bottom: 24px;
    margin-left : 29px
}
.card-img {
    width: 100%;
    height: 210px;
    box-shadow: 0px 0px 0px 2px  rgb(0 0 0 / 15%);
    border-radius: 12px;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: 100%;
}
.card-desc,
.card-price,
.card-address {
    margin-top: 0.3rem;
}

.card-like {
    margin-top: 0.3rem;
    font-size: small;
    color: gray;
}
.card-title {
    font-size : 1.5rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-sold{
    font-size : 1.1rem;
    font-weight: bold;
    color:gray;
}

.footer {
    background-color: whitesmoke;
    position: relative;
    transform: translateY(-100%);
}
.footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}
.footer .footer-logo {
    /* background-image: url("/image/gogumacat.png");
    background-size: cover; */
    width: 250px;
    height: 100px;
}
.footer ul {
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 3.5rem;
}
.footer p {
    margin-left: 30px;
    font-size: 1.2rem;
    line-height: 3.5rem;
}

.is-dark {
    background-color: #c786a4;
}