.modal{ 
  position: absolute; 
  width:100%; 
  height:100%; 
  background: rgba(0,0,0,0.1); 
  display:none;
}

.modal-content{
  width:60%; 
  height:80%;
  background:antiquewhite; 
  margin: auto;
  text-align:center;
  position: relative;
  /* box-sizing:border-box;  */
  /* padding:74px 0; */
  /* line-height:23px;  */
  cursor:pointer;
}
    