body {
    background-color: whitesmoke;
}
.logo-container {
    position: fixed;
    top: 0;
    width : 100%;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: saturate(180%) blur(5px);
    z-index: 10;
    padding-top: 2px;
    padding-left: 2px;
}
.logo-nav {
    /* position: fixed;
    top: -51px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: auto;
    
    /* border-bottom: 1px solid rgb(228, 173, 199); */
}
#logo {
    margin-right: 2rem;
    height: 45px;
    width: 110px;
}
#logo img {
    /* margin: auto; */
    height: 100%;
    width: 100%;
}
.logo-container .logo-list {
    width: 100%;
    max-width: 230px;
    height: 100%;
    max-height: 45px;
    display: flex;
    align-items: center;
}
.main-nav-list a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid #c786a4;
    border-radius: 0.2rem;
}
.search-bar .search {
    font-size: 1.2rem;
    width: 500px;
    outline: none;
    height: 24px;
    padding-left: 4px;
    background-color: transparent;
}
.search-bar button {
    width: 40px;
    height: 28px;
    background-color: #c786a4;
}
.login-btn {
    cursor: pointer;
    width: 230px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn p {
    font-size: 1.2rem;
    font-weight: bold;
}
.posting-container {
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    min-height: 90vh;
    margin: auto;
}
.posting-container input {
    /* margin-left: 10px; */
    padding: 3px 5px;
    border: 2px solid #c0c0c0 ;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block
}
.posting-container .title {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
}
.title h1 {
    font-size: 2.2rem;
    font-weight: bold;
}
#posting-title {
    width: 100%;
    font-size: 1.1rem;
}
.calender-price {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#calendar {
   cursor: pointer;
   width:  380px; 
   font-size: 1.1rem;
   display: inline-block;
}
#price {
    width: 380px;
    font-size: 1.1rem;
    display: inline-block;
}
#price_warning {
    float: right;
    display: inline-block;
}
#image_preview {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}
#image_preview img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}
#file-js-example {
    margin-bottom: 20px;
}
#content {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}
.field {
    width: 400px;
    height: 30px;
    display: flex;
    margin-bottom: 30px;
}
.field .button {
    margin-left: 10px;
    background-color: #c786a4;
    font-weight: bold;
}
#map {
    width: 500px;
    height:300px;
    margin:30px auto 50px auto;
    border-radius: 10px;
}
.posting-btn {
    display: block;
    background-color: #c786a4;
    font-weight: bold;
    width:80px;
    height: 35px;
    margin: 0 0 50px auto
}


.footer {
    background-color: white;
}
.footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.footer .footer-logo {
    /* background-image: url("/image/gogumacat.png");
    background-size: cover; */
    width: 250px;
    height: 100px;
}
.footer ul {
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 3.5rem;
}
.footer p {
    font-size: 1.2rem;
    line-height: 3.5rem;
}

input::placeholder {
    color: black;
    font-weight: bold;
}

textarea::placeholder {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

/*지도 커스텀 오버레이 CSS*/
.overlay_info {
    border-radius: 6px;
    margin-bottom: 10px;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
}

.overlay_info:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.overlay_info a {
    display: block;
    background: #c886a4;
    /*background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;*/
    /*text-decoration: none;*/
    color: #fff;
    padding: 12px 25px 5px 20px;
    font-size: 15px;
    border-radius: 6px 6px 0 0
}

.overlay_info a strong {
    /*background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/place_icon.png) no-repeat;*/
    padding-left: 27px;
}

.overlay_info .desc {
    padding: 8px 15px 15px;
    position: relative;
    min-width: 190px;
    height: 60px
}

.overlay_info img {
    vertical-align: top;
}

.overlay_info .address {
    font-size: 12px;
    color: #333;
    position: absolute;
    left: 80px;
    right: 14px;
    top: 5px;
    white-space: normal
}

.overlay_info:after {
    content: '';
    position: absolute;
    margin-left: -11px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png) no-repeat 0 bottom;
}