.container {
    height: auto;
    min-height: 100vh;
    padding-bottom: 156px;
}
.logo-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width : 100%;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 10;
    padding-top: 2px;
    padding-left: 2px;
}
.logo-nav {
    /* position: fixed;
    top: -51px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    /* border-bottom: 1px solid rgb(228, 173, 199); */
}
#logo {
    margin-right: 2rem;
    height: 45px;
    width: 110px;
}
#logo img {
    /* margin: auto; */
    height: 100%;
    width: 100%;
}
.logo-container .logo-list {
    width: 100%;
    max-width: 230px;
    height: 100%;
    max-height: 45px;
    display: flex;
    align-items: center;
}
.main-nav-list a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid #c786a4;
    border-radius: 0.2rem;
}
.search-bar .search {
    font-size: 1.2rem;
    width: 500px;
    outline: none;
    height: 24px;
    padding-left: 4px;
    background-color: transparent;
}
.search-bar button {
    width: 40px;
    height: 28px;
    background-color: #c786a4;
}
.login-btn {
    cursor: pointer;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
}
.login-btn p {
    font-size: 1.2rem;
    font-weight: bold;
}
.container {
    background-color: whitesmoke;
}
.post-container {
    width: 100%;
    max-width: 1200px;
    padding-top: 50px;
    margin: auto;
}
.post-img-container {
    padding: 50px 0 30px 0;
    
}
.post-img {
    width: 100%;
    max-width: 650px;
    height: auto;
    max-height: 1000px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.post-img img {
    height: 100%;
    width: 100%;
}
.post-title-container {
    width: 100%;
    height: auto;
    
}
.post-title {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 0 0 5px 7px;
    border-bottom: 2px solid #dcdcdc;
}
.post-title #postTitle {
    font-size: 2rem;
    font-weight: 600;
}
.post-title #postAddress {
    font-size: 1.2rem;
}
.post-title #postPrice {
    font-size: 1.1rem;
    font-size: 600;
}
.post-title #postSold{
    font-size: 1.7rem;
    font-weight: 600;
    color : gray;
}
.fix-dropdown {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 45px;
    text-align: center;
    width: 50px;
}
.fix-dropdown ul li {
    display: none;
    line-height: 1.3rem;
    margin-top: 3px;
    background-color: #dcdcdc;
    border-radius: 5px;
}
.fix-dropdown ul:hover li {
    display: block;
}
.post-title-container .post-like {
    position: absolute;
    bottom: 8px;
    right: 50px;
    margin-bottom: 5px;
}
#heart {
    cursor: pointer;
    color: #c786a4;
}
.profile-container {
    width: 100%;
    margin: 25px  0;
}
.profile {
    width: 100%;
    max-width: 650px;
    margin: auto;
    display: flex;
    align-items: center;
}
.profile #profileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.profile #profileName {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 8px;
}
.profile #postDate {
    margin-left: auto;
    font-size: 1.2rem;
}
.post-content-container {
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
}
.post-content-container .post-content {
    font-size: 1.3rem;
    width: 650px;
    max-height: 400px;
    margin: auto;
    overflow-y: auto;
}
.map-container {
    width: 650px;
    margin: auto;
}

#mapping {
    margin: 0 auto 30px auto;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#mapping .roadview-warning {
    visibility: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
    margin-top: 30px;
}
#map {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 350px;
    margin: 10px auto 40px auto;
    background-color: #888;
}
#roadview {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 350px;
    margin : 40px auto 40px auto;
    position: absolute;
}
#map_btn {
    background-color: #c786a4;
    color: whitesmoke;
    width: 125px;
    height: 37px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin:auto ;
}


.footer {
    background-color: whitesmoke;
    position: relative;
    transform: translateY(-100%);
}
.footer .footer-container {
    border-top: 3px solid #dcdcdc;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}
.footer .footer-logo {
    /* background-image: url("/image/gogumacat.png");
    background-size: cover; */
    width: 250px;
    height: 100px;
}
.footer ul {
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 3.5rem;
}
.footer p {
    margin-left: 30px;
    font-size: 1.2rem;
    line-height: 3.5rem;
}

.chat-btn {
    width: 180px;
    font-size: 1.2rem;
    color: rgb(29 29 31 / 80%);
    background-color: #c786a4;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    display: block;
    margin: auto;
}

.chat-btn {
    width: 180px;
    font-size: 1.2rem;
    color: rgb(29 29 31 / 80%);
    background-color: #c786a4;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    display: block;
    margin: auto;
}
.is-hidden {
    visibility: hidden;
}