body {
    background-color: rgb(136 136 136 / 5%);
}
.container {
    height: auto;
    min-height: 100vh;
    padding-bottom: 156px;
    display: flex;
    justify-content: center;
    position: relative;
}
.logo-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width : 100%;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 10;
    padding-top: 2px;
    padding-left: 2px;
}
.logo-nav {
    /* position: fixed;
    top: -51px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    /* border-bottom: 1px solid rgb(228, 173, 199); */
}
#logo {
    margin-right: 2rem;
    height: 45px;
    width: 110px;
}
#logo img {
    /* margin: auto; */
    height: 100%;
    width: 100%;
}
.main-nav {
    margin-right: auto;
    
}
.main-nav-list a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid #c786a4;
    border-radius: 0.2rem;
}
.search-bar .search {
    font-size: 1.2rem;
    width: 400px;
    outline: none;
    height: 24px;
    padding-left: 4px;
    background-color: transparent;
}
.search-bar button {
    width: 40px;
    height: 28px;
    background-color: #c786a4;
}
.profile-container {
    width: 300px;
    height: auto;
    max-height: 630px;
    display: flex;
    flex-direction: column;
    border: 3px solid #e9ecef;
    border-radius: 30px;
    background-color: white;
    margin: 100px 20px 10px 20px;
    /* position: fixed;
    left: 50px;
    top: 100px; */
}
.profile .img-container {
    height: 200px;
    width: 200px;
    background-color: #c786a4;
    border-radius: 50%;
    margin: 20px auto 0 auto ;
}
.profile #profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nickname { 
    font-size: 2rem;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    /* border-bottom: 3px solid #c786a4; */
}
.btn-container button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(136 136 136 / 45%);
    border-radius: 5px;
    padding: 3px 8px;
  
}
.btn-container #profile-delete {
    margin-left: 20px;
}
.profile .introduce-box {
    font-size: 1.4rem;
    font-weight: 600;
    width: 250px;
    margin: 20px auto;
    height: auto;
    max-height: 235px;
    overflow: hidden;
}
.profile .delete-box {
    height: 30px;
}
.profile #user-delete {
    background-color: rgb(136 136 136 / 45%);
    margin: 0 20px 0 auto;
    display: block;
    padding: 3px 4px;
    border-radius: 3px;
    font-weight: bold;
}


.list-container {
    width: 100vw;
    max-width: 800px;
    margin-top: 100px;
}
.list {
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px 40px 30px 40px;
    background-color: white;
    /* box-shadow: 1px 1px 3px 1px #888 ; */
    border: 1px solid #e9ecef;
    border-radius: 30px;
}

.list-order {
    display: inline;
    width: auto;
    height: 40px;
    font-size: 1.2rem;
}
.list-order a {
    width : 40px;
    height: 30px;
    margin-left: 5px;
    padding: 2px 8px 2px 8px;
    border-radius: 3px;
    cursor: pointer;
}
#post-card-box {
    width: 100%;
    max-width: 1000px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.posting-btn {
    width: 180px;
    height: 30px;
    font-size: 1.2rem;
    color: rgb(29 29 31 / 80%);
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}

.card {
    width : 200px;
    margin: 0 20px 24px 19px;
}
.card-img {
    width: 100%;
    height: 210px;
    box-shadow: 0px 0px 0px 2px  rgb(0 0 0 / 15%);
    border-radius: 12px;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: 100%;
}
.card-desc,
.card-price,
.card-address {
    margin-top: 0.3rem;
}
.card-title {
    font-size : 1.5rem;
    font-weight: bold;
}

.footer {
    background-color: whitesmoke;
    position: relative;
    transform: translateY(-100%);
}
.footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.footer .footer-logo {
    /* background-image: url("/image/gogumacat.png");
    background-size: cover; */
    width: 250px;
    height: 100px;
}
.footer ul {
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 3.5rem;
}
.footer p {
    font-size: 1.2rem;
    line-height: 3.5rem;
}

.is-dark {
    background-color: #c786a4;
}

