<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
      <title>고구마캣 | 채팅</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       <!-- JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
      <!-- Popper.js, then Bootstrap JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                  crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                  crossorigin="anonymous"></script>
      <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            [v-cloak] {
                  display: none;
            }

            body{
                  background-color: #ffdead;
                  height: auto;
                  width: auto;
                  background-size: cover;
                  background-repeat: no-repeat;
            }

            .input-group {
                  position: fixed; bottom: 0;
                  width: 1000px;
            }

            .content{
                  margin-bottom: 100px;
            }

            .list-group-item{
                  border-radius: 10px;
                  border: none;
                  margin-bottom: 5px;
                  margin-top: 5px;
                  font-family: 'Nanum Pen Script', cursive;
            }

      </style>
</head>
<body>
      <div class="container" id="app" v-cloak>
      <button v-if = "isSeller == 'true'" onclick="order()" style="background-color: #ba55d3">이 사람과 거래하기</button>
      <div class="content">
            <ul class="list-group"  v-for="message in messages.slice().reverse()">
                  <li v-if = "message.sender != nickname" class="list-group-item" style="background-color: #ba55d3">
                  {{message.sender}} : {{message.message}}
                  </li>
                  <li v-else class="list-group-item" style="text-align: right; float: right; background-color: #ffec42">
                  {{message.sender}} : {{message.message}}
                  </li>
            </ul>
            <div class="image" style="text-align: center">
            <img src="https://user-images.githubusercontent.com/78460820/176168804-55507698-e590-4f62-b542-b14af7fb65b3.png" style="position: relative; height: 200px; width: 200px">
            </div>
      </div>
      <div class="input-group">
            <div class="input-group-prepend">
                  <label class="input-group-text">내용</label>
            </div>
            <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
            <div class="input-group-append">
                  <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
            </div>
      </div>
      <div></div>
</div>
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" 
      integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" 
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
      // let domain = "http://hongseos.shop"
      let domain = "http://localhost:8080"
      let token = $.cookie("mytoken")

      var splitLink = document.location.href.split("?")
      var idLink = splitLink[1].split("=")
      var postId = -1
      var roomId = ""
      var nickname = ""
      var isSeller = ""

      if(idLink[0] == "id"){
            postId = idLink[1]
      } else {
            roomId = idLink[1]
      }

      $(document).ready(function () {
            if(roomId != ""){
                  $.ajax({
                        type: "GET",
                        url: `${domain}/chat/mypostroom/enter/${roomId}`,
                        data: {},
                        dataType : "json",
                        beforeSend: function(xhr) {
                              xhr.setRequestHeader("token", token);
                        },
                        success: function (response) {
                              isSeller = response["isSeller"]
                              nickname = response["nickname"]
                        }
                  })
            }
      });
      

      var sock = new SockJS(domain + "/ws/chat");
      var ws = Stomp.over(sock);
      var reconnect = 0;
      
      var vm = new Vue({
            el: '#app',
            data: {
                  roomId: roomId,
                  room: {},
                  sender: '',
                  message: '',
                  messages: [],
                  nickname: nickname,
                  isSeller: isSeller
            },
            created() {
                  this.roomId = roomId;
                  this.sender = localStorage.getItem('wschat.sender');
                  this.findRoom();
            },
            methods: {
                  findRoom: function() {
                  axios.get( domain + '/chat/room/'+ this.roomId, 
                        {
                              headers : {
                                    token : token
                              }
                        }
                  ).then(response => { this.room = response.data; console.log(response.data);});
                  },
                  sendMessage: function() {
                  if(this.message==''){
                        return;
                  }
                  ws.send(domain + "/app/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message}));
                  this.message = '';
                  window.scrollTo(0,document.body.scrollHeight);
                  },
                  recvMessage: function(recv) {
                  this.messages.unshift({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.message})
                  window.scrollTo(0,document.body.scrollHeight);
                  }
            }
      });

      function connect() {
            // pub/sub event
            ws.connect({}, function(frame) {
                  ws.subscribe(domain + "/topic/chat/room/"+vm.$data.roomId, function(message) {
                  var recv = JSON.parse(message.body);
                  vm.recvMessage(recv);
                  });
                  ws.send(domain + "/app/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
            }, function(error) {
                  if(reconnect++ <= 5) {
                  setTimeout(function() {
                        console.log("connection reconnect");
                        sock = new SockJS(domain + "/ws/chat");
                        ws = Stomp.over(sock);
                        connect();
                  },10*1000);
                  }
            });
      }
      connect();

      function order() {
            roomId = String(vm.$data.roomId)
            console.log(roomId)
            axios.post(domain + '/order?roomId='+roomId).then(function(response) {
                  alert(response.data);
            })
      }
</script>
</body>
</html>