<!doctype html>
<html lang="en">
<head>
      <title>고구마캣 | 채팅</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <!-- JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
      <!-- Bootstrap JS -->
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            [v-cloak] {
                  display: none;
            }

            body{
                  background-color: #ffdead;
                  height: auto;
                  width: auto;
                  background-size: cover;
                  background-repeat: no-repeat;
            }

            .input-group {
                  position: fixed; 
                  bottom: 0;
                  margin-bottom: 5px;

            }

            .content{
                  
            }

            .list-group-item{
                  border-radius: 10px;
                  border: none;
                  margin-bottom: 5px;
                  margin-top: 5px;
                  font-family: 'Nanum Pen Script', cursive;
            }

            ul{
                  list-style:none;
                  padding-left:0px;
            }

      </style>
</head>
<body>
      <div class="container" id="app" v-cloak>
      <button v-if = "isSeller == true" onclick="order()" style="background-color: #ba55d3">이 사람과 거래하기</button>
      <div class="content">
            <ul class="list-group"  v-for="message in messages.slice().reverse()">
                  <li v-if = "message.sender != nickname" class="list-group-item" style="background-color: #ba55d3">
                  {{message.sender}} : {{message.message}}
                  </li>
                  <li v-else class="list-group-item" style="text-align: right; background-color: #ffec42">
                  {{message.sender}} : {{message.message}}
                  </li>
            </ul>
            <div class="image" style="text-align: center">
            <img src="https://user-images.githubusercontent.com/78460820/176168804-55507698-e590-4f62-b542-b14af7fb65b3.png" style="position: relative; height: 200px; width: 200px">
            </div>
      </div>
      <div class="input-group">
            <div class="input-group-prepend">
                  <label class="input-group-text">내용</label>
            </div>
            <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
            <div class="input-group-append">
                  <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
            </div>
      </div>
</div>
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" 
      integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" 
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
      let domain = "http://hongseos.shop"
      let token = $.cookie("mytoken")

      var splitLink = document.location.href.split("?")
      var idLink = splitLink[1].split("=")
      var postId = -1

      var sock = new SockJS(domain + "/ws/chat");
      var ws = Stomp.over(sock);
      var reconnect = 0;

      var roomId
      var nickname
      var isSeller

      var vm

      if(idLink[0] == "id"){
            postId = idLink[1]
      } else {
            roomId = idLink[1]
      }

      if(roomId != undefined) {
            $.ajax({
                  type: "GET",
                  url: `${domain}/chat/mypostroom/enter/${roomId}`,
                  data: {},
                  dataType : "json",
                  beforeSend: function(xhr) {
                        xhr.setRequestHeader("token", token);
                  },
                  success: function (response) {
                        isSeller = response["isSeller"]
                        nickname = response["nickname"]
                        connect(roomId, nickname)
                        createVue(roomId, nickname, isSeller)
                  }
            })
      }

      if(postId != -1) {
            $.ajax({
                  type: "GET",
                  url: `${domain}/chat/room/enter/${postId}`,
                  data: {},
                  dataType : "json",
                  beforeSend: function(xhr) {
                        xhr.setRequestHeader("token", token);
                  },
                  success: function (response) {
                        isSeller = response["isSeller"]
                        nickname = response["nickname"]
                        roomId = response["roomId"]
                        connect(roomId, nickname)
                        createVue(roomId, nickname, isSeller)
                  }
            })
      }

      function createVue(roomId, nickname, isSeller) {
            vm = new Vue({
                  el: '#app',
                  data: {
                        roomId: roomId,
                        room: {},
                        sender: '',
                        message: '',
                        messages: [],
                        nickname: nickname,
                        isSeller: isSeller
                  },
                  created() {
                        this.roomId = roomId;
                        this.sender = nickname
                        this.findRoom();
                  },
                  methods: {
                        findRoom: function() {
                              axios.get( domain + '/chat/room/'+ this.roomId, 
                                    {
                                          headers : {
                                                token : token
                                          }
                                    }
                              ).then(response => { this.room = response.data;});
                        },
                        sendMessage: function() {
                              if(this.message==''){
                                    return;
                              }
                              ws.send("/app/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message}));
                              this.message = '';
                              window.scrollTo(0, document.body.scrollHeight);
                        },
                        recvMessage: function(recv) {
                              this.messages.unshift({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.message})
                              window.scrollTo(0,document.body.scrollHeight);
                        }
                  }
            });
      }

      function connect(roomId, nickname) {
            ws.connect({}, function(frame) {
                  ws.subscribe("/topic/chat/room/" + roomId, function(message) {
                        console.log("!!subscribe!!");
                        var recv = JSON.parse(message.body);
                        vm.recvMessage(recv);
                  });
                  ws.send("/app/chat/message", {}, 
                        JSON.stringify({type:'ENTER', roomId: roomId, sender: nickname})
                  );
            }, function(error) {
                  if(reconnect++ <= 5) {
                  setTimeout(function() {
                        console.log("connection reconnect");
                        sock = new SockJS(domain + "/ws/chat");
                        ws = Stomp.over(sock);
                        connect(roomId, nickname);
                  },10*1000);
                  }
            });
      }

      function order() {
            roomId = String(vm.$data.roomId)
            axios.post(domain + '/order?roomId='+roomId, {}, 
                  {
                        headers : {
                              token : token
                        }
                  }
            ).then(function(response) {
                  alert(response.data["msg"]);
                  window.location.reload("/list.html")
            })
      }
</script>
</body>
</html>